// menu items
@keyframes appear {
  0% {
    bottom: -30px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

// like button
@keyframes fill {
  100% {
    opacity: 1;
  }
}

// loader
@keyframes disappear {
  50% {
    opacity: .5;
  }

  100% {
    opacity: 0;
    left: -10000px;
  }
}